.hero {
    /* border: 2px solid red; */
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    
}

.tbox {
    /* border: 2px solid gray; */
    padding-top: 40px;
    width: fit-content;
    position: relative;
}
.tiny{
    /* border: 2px solid red; */
    position: absolute;
    top: 30px;
    right: 0;
    height: 50px;
    width: 50px;
}
.tbox > h1, .tbox > h3 {
    margin: 20px 0;
}

.highlight{
    color: #594949;
}
.canvas {
    /* border: 2px dotted blue; */
    height: 400px;
    width: 100%;
    max-width: 600px;
    position: relative;
}



@media screen and (min-width: 900px){
    .hero{
        flex-direction: row;
        justify-content: space-around;
    }
    .tbox{
        font-size: 1.4rem;
    }
}