.main {
  
  min-height: 100vh;
  background: rgb(40,31,31);
  background: linear-gradient(0deg, rgba(40,31,31,1) 0%, rgba(176,144,144,1) 100%);
  color: white;
}
.sp {
  /* border: 5px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}


@media screen and (min-width: 900px){
  .sp{
    flex-direction: row;

  }
}