.closedContent{
    border-radius: 15px;
    /* padding: 5px 2px; */
    position: relative;

    height: 100%;
    overflow: hidden;
    
    
}
.openContent {
    /* border: 5px solid red; */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-bottom: 50px;
    color: black

}



@media screen and (max-width: 600px){
    
    .openContent{
        min-height: 350vh;
    }
    
}
