


.widgetCover {
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;

    top: 0;
    left: 0;

    /* height: 100%;
    width: 100%; */

   
}
.widgetCover::-webkit-scrollbar {
    display: none;
}


.widget {
    height: 100%;
    width: 100%;
    top: 0;
}

.widget::-webkit-scrollbar {
    display: none;
}


.relative {
    position: relative;
}
.fixed {
   position: fixed;
   
}
.absolute{
    position: absolute;
}
.colors {
    color: #8d8db5;
   background: #ffffff;
   color: #F3F3F3
}